html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#content {
  height: 100%;
}

#dropdown-container {
    position: absolute;
    top: 25px; 
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000; 
}

#country option {
    text-align: center;
}


#country-dropdown-container {
    z-index: 1000; 
}

.controls {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  min-height: 30px;
  color: white;
  border-radius: 30px;
  opacity: 0.8;
  margin-left: 50px;
  display: inline-block;
  margin-top: 55px;

}

#map {
height: 100%;

}

.modal-content {
    margin: 2px auto;
    z-index: 1100 !important;
    
    
}

#currencyModalLabel{
    font-size: 22px;
    text-align: center;
}

.modal-header {
    display: flex;
    justify-content: center; 
    align-items: center;
    font-weight: 700;
}

.modal-title {
    flex: 1; 
    text-align: center;
}

.modal-header .modal-title {
    order: 1;  
    font-weight: 700;
}

.modal-header .close {
    order: 2;               
    margin-left: auto;       
}

#countryInfoModal {
    z-index: 1050;
    position: absolute;
    padding-top: 50px; 
}


#countryInfoModal .modal-footer {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}



#news-modal #newsList h2 {
    font-size: 16px;
    text-align: center;
}

#news-modal #newsList a {
    display: block;
    font-size: 12px;
    text-align: center;
    }

#countryFlagImg {
    width: 50px;  
    height: auto;  
}

.easy-button-button .button-state {
    display: flex;
    justify-content: center;
    align-items: center;
}

.easy-button-button {
    width: 35px;  
    height: 35px; 
}

.easy-button-button .fa {
    font-size: 12px; 
    line-height: 25px;
}

#wikiLink {
    display: none;
}

.weather-content .modal-body {
    gap: 20px;
}


.modal-body span {
    font-weight: normal;
}

#wikiSummary{
    font-weight: normal;
}

#currentWeather {
    display: flex;
    align-items: center;
    font-size: 2em;
}

#currentWeather span {
    margin-right: 15px; /* Adjust the value to your liking */
}

#currentWeather #currentWeatherIcon {
    width: 50px; 
    height: auto;
}

#currentWeatherBlock {
    grid-column: 1 / 4;  /* Span all 3 columns */
    padding: 15px;
    font-size: 1.5em; /* Makes the text bigger */
}

#currentWeatherBlock, #hourlyForecastBlock {
    border-bottom: 2px solid #000;
}

.weather-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

#hourlyForecastBlock, #dailyForecastBlock {
    padding: 15px;
}

#hourlyForecastBlock {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

#dailyForecastBlock1 {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
}

#dailyForecastBlock2 {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
}


.hour, .day {
    flex: 1;
    text-align: center;
}

#currentWeather {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

#currentWeather img {
    width: 50px;
}

#weatherModal .weather-content {
    
    background-size: cover;
    color: black;
}

#dailyForecast .col-6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-top: 2px solid #000;
}

#timezoneModal .modal-body {
    text-align: center;
}


.easy-button-container {
    border: 8px solid #000;
    margin: 2px;    
}

.modal-backdrop {
    display: none !important;
    opacity: 0 !important;
}

.leaflet-div-icon {
    background-image: url(project1/packages/extramarkers/img/markers_default.png);
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
  position: fixed; 
  top: 50%;  
  left: 50%;  
  transform: translate(-50%, -50%);  
  z-index: 10000;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #000 transparent #000 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.map-loader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 9999;
}

.initial-loader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.loading-text {
    margin-bottom: 20px; 
    font-size: 22px; 
    font-weight: bold;
}

.initial-spinner {
    border: 6px solid rgba(0, 0, 0, 0.1);
    border-top-color: #000;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: initialSpin 1s linear infinite;
}

@keyframes initialSpin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}



.news-item {
    margin-bottom: 20px;
}

.news-thumbnail {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 10px;
}

.news-headline {
    font-weight: normal;
    margin-bottom: 10px;
}

.view-link {
    color: #007bff;
    text-decoration: underline;
}

.modal-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.centered-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.flag-icon {
    width: 50px;
    height: auto;
    margin-right: 10px;
}



