html, body {
    margin:0px;
    height: calc(100% - 35px);
  }

#content {
  height: 100%;
}

#dropdown-container {
    position: absolute;
    top: 25px; 
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000; 
}

#country {
    width: 250px; /* Adjust the width as needed */
    font-size: 22px;
    height: 28px;
    font-family: Courier New, Monospace;
}

#country-dropdown-container {
    z-index: 1000; 
}

#myModal{
  z-index: 1050;
  position: absolute;
  padding-top: 150px;
  
}



#newsModal{
  background-image: url(../packages/fontawesome/newspaper.png);
  background-repeat: no-repeat;
  background-position: center;
  display: none;
}


.controls {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  min-height: 30px;
  color: white;
  border-radius: 30px;
  opacity: 0.8;
  margin-left: 50px;
  display: inline-block;
  margin-top: 55px;

}


#map {
height: 100%;
width: 100%;
  
}




  .modal-backdrop {
    display: none;
    z-index: 1040 !important;
}

.modal-content {
    margin: 2px auto;
    z-index: 1100 !important;
}

.currency-conversion {
    text-align: center;
    padding: 15px;
}

#currency-modal .currency-conversion {
    padding-top: 50px;
    font-size: 22px; /* Change this value to your desired font size */
}

#currency-modal .currency-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight:bold;
    margin-bottom: 10px;
    font-size: 22px;
}

#currency-modal .amount-control {
    display: flex;
    align-items: center;
}

#currency-modal .amount-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

#currency-modal  #currency-amount {
    margin: 0 10px;
    font-size: 22px;
    
}

#currencyModalLabel{
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}

.modal-header {
    display: flex;
    justify-content: center; 
    align-items: center;
    font-weight: 700;
}

.modal-title {
    flex: 1; /* Take all available space */
    text-align: center;
}



.modal-header .modal-title {
    order: 1;  
    font-weight: 700;/* Ensure the title is in the center */
}

.modal-header .close {
    order: 2;                /* Ensure the close button is on the right */
    margin-left: auto;       /* Push the close button to the edge */
}

#countryInfoModal {
    z-index: 1050;
    position: absolute;
    
   
    padding-top: 50px; /* Adjust the padding as needed */
}

#countryInfoModal .modal-content {
  text-align: center;
}

#countryInfoModal .modal-footer {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

#countryInfoList{
    text-align:center;
    list-style-type: none;
    padding-right: 40px;
}

#countrymodaltitle{
    text-align: center;
}

.custom-modal {
  max-width: 80%; /* Adjust the percentage to your desired maximum width */
}

/* Apply the custom-modal class to your modal dialog */
.modal-dialog.custom-modal {
  width: auto;
}

#currencyConverterModal {
    z-index: 2000; /* This value can be adjusted as needed */
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
    position: fixed; 
  top: 50%;  
  left: 50%;  
  transform: translate(-50%, -50%);  
  z-index: 2000;
  
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loading-overlay {
    display: none;
    position: absolute; 
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.2);  /* Black with 50% opacity */
    z-index: 1500; /* Should be higher than map's z-index to overlay on top */
}


#news-modal #newsList h2 {
    font-size: 16px;
    text-align: center;
    /* or whatever size you desire */
}

#news-modal #newsList a {
    display: block;
    font-size: 12px;
    text-align: center;
    /* or whatever size you desire */
}

#countryFlagImg {
    width: 50px;  /* Set the desired width */
    height: auto;  /* Maintain aspect ratio */
}




